################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LevelUpAPI/.vs/LevelUpAPI/FileContentIndex/58f37679-6342-4773-a329-81627c9eefe5.vsidx
